@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243 244 246);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-color {
  color: rgb(20 184 166);
}
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
